.resultModal {
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    height: 100%;
    width: 100%; 
    background-color: rgba(0,0,0,0.5);
    display:flex; 
    align-items:center; 
    justify-content: center;   
}

#modalContent {
    background-color: #fff; 
    border-radius: 25px;
    height: 400px;
    width: 600px; 
    display:flex; 
    align-items:center; 
    justify-content: center; 
    /* stacking here~ */
    flex-direction: column;  
}