body {
    font-family: 'Rubik', sans-serif;
    color: #323742; 
}

.navcolor{ 
    background-color: #16858B;
    color: #fff;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #fff;
}

.NavbarBrand{ 
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.btn-red{ 
    color: #fff;
    background-color: #FC4E4B; 
}